@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: var(--font-main), sans-serif;
}

h1{
    font-size: var(--font-size-h1);
    color: var(--donker-blauw);
}

h2{
    font-size: var(--font-size-h2);
    color: var(--donker-blauw);
}

h3{
    font-size: var(--font-size-h3);
    color: var(--donker-blauw);
}

h4{
    font-size: var(--font-size-h4);
    color: var(--donker-blauw);
}

h5{
    font-size: var(--font-size-h5);
    color: var(--donker-blauw);
}

h6{
    font-size: var(--font-size-h6);
    color: var(--donker-blauw);
}

p{
    color: var(--text-kleur);
    font-size: var(--font-size-textnormal);
}

.text-big{
    font-size: var(--font-size-textbig);
}

.text-small{
    font-size: var(--font-size-textsmall);
}