@font-face {
    font-family: 'Fraunces';
    src: url('../fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: var(--font-body), sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-heading);
    color: var(--heading-kleur);
}

p, ul, li, ol, span{
    font-family: var(--font-body);
    color: var(--text-kleur);
}

a{
    font-family: var(--font-accent);
    color: var(--a-color);
    text-transform: uppercase;
    font-weight: 600;
}

h1{
    font-size: var(--font-size-h1);
    font-weight: 300;
}

h2{
    font-size: var(--font-size-h2);
    font-weight: 300;
}

h3{
    font-size: var(--font-size-h3);
    font-weight: 300;
}

h4{
    font-size: var(--font-size-h4);
    font-weight: 300;
}

h5{
    font-size: var(--font-size-h5);
    font-weight: 300;
}

h6{
    font-size: var(--font-size-h6);
    font-weight: 300;
}

p{
    color: var(--text-kleur);
    font-size: var(--font-size-textnormal);
    font-weight: 400;
}

.text-big{
    font-size: var(--font-size-textbig);
}

.text-small{
    font-size: var(--font-size-textsmall);
}

.top-head{
    font-family: var(--font-body);
    text-transform: uppercase;
    color: var(--text-kleur);
    font-size: var(--font-size-textsmall);
    font-weight: 400;
}